
/* Reset HTML page */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Set up semantic tags */

body {
    width: 80%;
    margin: 1% 10% 2%;
}

header{
    background-color: violet;
    width: 100%;
    height: 60px;
}

footer{
    background-color: rgb(128, 0, 255);
    width: 100%;
    height: 40px;
}

/* Set up section tags */

#sec1 {
    background-color: goldenrod;
    width: 100%;
    height: 200px;
}

#sec2 {
    background-color:rgb(0, 123, 255);
    width: 100%;
    height: 235px;
}

#sec3 {
    background-color:skyblue;
    width: 100%;
    height: 40px;
}

#sec4 {
    background-color:skyblue;
    width: 20%;
    height: 65%;
}

#sec5 {
    background-color:skyblue;
    width: 58%;
    height: 65%;
}

/* Utility */

.margin05{
    margin: 0.5% 0;
}

.margin1{
    margin: 1% 0;
}

.margin2{
    margin: 2% 0;
}

.marginlft{
    margin-left: 1%;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}